# Created by .ignore support plugin (hsz.mobi)
/machine-learning-course.iml
/python_test/python_test.iml
/jvm_test/jvm_test.iml
/framework/framework.iml
/auto_deployment/auto_deployment.iml
/on_python/on_python.iml
/.idea/
