# Created by .ignore support plugin (hsz.mobi)
*.iml
*/*.iml
.idea
*/target
/auto_deployment/auto_deployment.iml
/ApiDemo/ApiDemo.iml
/common/common.iml
/framework/framework.iml
/running/*
/mian-component.iml
/on_jvm/on_jvm.iml
/.vs/
*/*/target
venv
logs
venv/Include/
/data_test.xlsx
/env/
/py_env3.7/
